<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Teaching Modules
        <input type="checkbox" class="pull-right">
    </div>

    <ul class="list-group">
        <li ng-repeat="module in model.modules" class="list-group-item">
            <a href="#/module/{{module._id}}">
                {{module.name}}
            </a>
            <input type="checkbox"
                   class="pull-right"
                   ng-click="model.toggleModuleSelection(module)"
                   ng-model="model.user.modules.teaching[module.name]"
                   ng-checked="model.user.modules.teaching.indexOf('{{module.name}}') != -1"/>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item" style="text-transform: capitalize">
            <a>
                <span ng-repeat="module in model.user.modules.teaching">{{module}}, </span>
            </a>
        </li>
    </ul>
</div>
<a href="#/admin/user/{{model.userId}}" ng-click="model.selectModules(model.user._id, model.user)"
   class="btn btn-primary btn-block">
    Save
</a>