
<style>
    .fa {
        color: lightgray;
    }
    .fa.active
    {
        color: #2b669a;
    }
</style>

<textarea class="form-control" rows="5"></textarea>

<div style="text-align: center" ng-init="model.linkedIn=model.google=model.facebook=model.twitter=false">
    <i ng-click="model.linkedIn = !model.linkedIn"
       ng-class="{'active': model.linkedIn}"
       class="fa fa-linkedin-square fa-5x"></i>
    <i ng-click="model.facebook = !model.facebook"
       ng-class="{'active': model.facebook}"
       class="fa fa-facebook-square fa-5x"></i>
    <i ng-click="model.twitter = !model.twitter"
       ng-class="{'active': model.twitter}"
       class="fa fa-twitter-square fa-5x"></i>
    <i ng-click="model.google = !model.google"
       ng-class="{'active': model.google}"
       class="fa fa-google-plus-square fa-5x"></i>
</div>

<button ng-click="model.share()" class="btn btn-primary btn-block">
    Share
</button>