    input[type=checkbox] {
    margin-right: 10px;
}
body {
    padding-top: 65px;
    padding-bottom: 60px;
}
.form-control, .btn-block {
    margin-bottom: 10px;
}

.navbar * {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.search-language {
    font-size: 1em !important;
    height: 55px;
    text-align: left;
}
.faces {
    float: left;
    width: 40px;
    overflow: hidden;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: -10px;
}
.faces img {
    height: 40px;
    border-radius: 20px;
}

.height-60px {
    height: 60px;
}

/*
select, input, button {
    height: 3em !important;
}

a.btn {
    font-size: 2em;
}
*/

.spk-yellow {
    color: #ffcc00;
}

.spk-rating-number {
    /*float: right;*/
    margin-left: 10px;
}

.spk-rating-star {
    /*float: right;*/
    color: #ffcc00;
}

.spk-text-justified {
    text-align: justify;
}

.spk-navbar-back-button {
    color: white !important;
    margin-right: 5px;
}

.spk-no-margin-top {
    margin-top: 0px;
}

.navbar-fixed-bottom .navbar-text {
     margin-right: 0px;
     margin-left:  0px;
}

input[type=checkbox] {
    height: auto !important;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.navbar-brand {
    text-transform: capitalize;
}

.list-group-item.active .glyphicon,
.panel-heading a .glyphicon {
    color: white;
}

.navbar-header button {
    height: auto !important;
}

video {
    width: 100%;
}

span.lang-learn {
    display: inline-block;
}

.spk-selected-word {
    background-color: yellow;
}

.list-group-item .form-control {
    margin-bottom: 0px !important;
}

.spk-avatar {
    font-size: 20em;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

rating {
    text-align: left;
}

.navbar-header button.navbar-toggle {
    max-width: 80px;
    overflow: hidden;
}

.spk-input-field-icon {
    float: right;
    position: relative;
    top: -25px;
    right: 10px;
}

.spk-nudge-left-10px {
    position: relative;
    right: 10px;
}

.fa.inactive {
    color: lightgray;
}
.fa.active
{
    color: #2b669a;
}