body {
    padding-top: 60px;
    padding-bottom: 60px;
}
.form-control, .btn-block {
    margin-bottom: 10px;
}

.navbar * {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.search-language {
    font-size: 1em !important;
    height: 55px;
    text-align: left;
}
.faces {
    float: left;
    width: 40px;
    overflow: hidden;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: -10px;
}
.faces img {
    height: 40px;
    border-radius: 20px;
}

.height-60px {
    height: 60px;
}

select, input {
    height: 3em !important;
}

a.btn {
    font-size: 2em;
}

.spk-yellow {
    color: #ffcc00;
}

.spk-rating-number {
    /*float: right;*/
    margin-left: 10px;
}

.spk-rating-star {
    /*float: right;*/
    color: #ffcc00;
}

.spk-text-justified {
    text-align: justify;
}

.spk-navbar-back-button {
    color: white !important;
    margin-right: 5px;
}

.spk-no-margin-top {
    margin-top: 0px;
}