<div class="scrollable" ui-shared-state="searchBar">
    <!-- ngIf: Ui.active('searchBar') -->

    <a href="#/search" class="search-language btn btn-block btn-lg btn-default scrollable-header">
        <i class="fa fa-search pull-right fa-2x"></i>
        <div class="faces">
            <img ng-src="/images/faces/1.jpeg"/>
        </div>
        What language<br/>do you want to practice
    </a>

    <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
        <div class="list-group">
        <a ng-repeat="activity in model.activities" href="" class="list-group-item ng-binding ng-scope">
            <div class="faces">
                <img ng-src="/images/faces/{{$index}}.jpeg"/>
            </div>
                <b>{{activity.username.first}}</b>
                I just spoke {{activity.language}} for {{activity.minutes}}min with {{activity.username.first}} in {{activity.username.city}}
        </a>
        </div>
    </div>
</div>