<div class="scrollable" ui-shared-state="searchBar">
    <!-- ngIf: Ui.active('searchBar') -->

    <a href="#/search" class="btn btn-block btn-lg btn-default scrollable-header">
        <img src="http://lorempixel.com/g/50/50/people/" class="pull-left"/>
        What language do you want to practice
        <i class="fa fa-search pull-right"></i>
    </a>

    <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
        <div class="list-group">
        <a ng-repeat="activity in model.activities" href="" class="list-group-item ng-binding ng-scope">
            <img src="http://lorempixel.com/g/50/50/people/"/>
                <b>{{activity.username.first}}</b>
                I just spoke {{activity.language}} for {{activity.minutes}}min with {{activity.username.first}} in {{activity.username.city}}
        </a>
        </div>
    </div>
</div>