<div>
    <a href="#/search" class="search-language btn btn-block btn-lg btn-default scrollable-header">
        <i class="fa fa-search pull-right fa-2x"></i>
        <div class="faces">
            <img ng-src="/images/faces/1.jpeg"/>
        </div>
        What language<br/>do you want to practice
    </a>

    <div class="list-group">
        <a ng-repeat="activity in model.activities"
           class="height-60px list-group-item ng-binding ng-scope">
            <i class="fa fa-chevron-right pull-right fa-2x"></i>
            <div class="faces">
                <img ng-src="/images/faces/{{$index}}.jpeg"/>
            </div>
                <b>{{activity.username.first}}</b>
                I just spoke {{activity.language}} for {{activity.minutes}}min with {{activity.username.first}} in {{activity.username.city}}
        </a>
    </div>
</div>