<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form" ng-submit="model.search()">
            <fieldset>
                    <label>Language</label>
                    <select ng-model="model.language"
                            ng-options="language.name for language in model.languages"
                            class="form-control">
                    </select>

                    <label>Country</label>
                    <select ng-model="model.region"
                            ng-options="region.name for region in model.language.regions"
                            class="form-control">
                    </select>

                    <label>Module</label>
                    <select ng-model="model.moduleId" class="form-control">
                        <option ng-repeat="module in model.modules"
                                value="{{module._id}}">
                            {{module.name}}
                        </option>
                    </select>
                    <!--<div class="row">-->
                        <!--<div class="col-xs-6 text-center" ng-click="model.search()">-->
                            <!--<i class="fa fa-phone fa-5x" aria-hidden="true"></i>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6 text-center" ng-click="model.search()">-->
                            <!--<i class="fa fa-video-camera fa-5x" aria-hidden="true"></i>-->
                        <!--</div>-->
                    <!--</div>-->

                <a class="btn btn-primary btn-block" ng-click="model.search()">Search</a>

            </fieldset>
        </form>
    </div>
</div>