<div class="panel panel-primary">
    <div class="panel-heading">
        <b>Languages</b>
        <a href="#/admin/language/new">
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
    </div>
    <ul class="list-group">
        <li ng-repeat="language in model.languages" class="list-group-item">
            <a href="#/admin/language/{{language._id}}">
                {{language.name}}
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>