<div ng-if="error" class="alert alert-danger">
  {{error}}
</div>

<h2>Learner Ratings</h2>
(These is what the learner sees)
<div class="row">
  <div class="col-xs-4">
    <label>Coach</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.learnerRating.coachRating" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Module</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.learnerRating.moduleRating" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Quality</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.learnerRating.technicalQuality" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Favorite Coach</label>
  </div>
  <div class="col-xs-8">
    <span ng-init="favorite=false"
          ng-click="favorite = !favorite"
          style="font-size: 2em"
          ng-class="{'glyphicon-heart-empty': !favorite, 'glyphicon-heart': favorite}"
          class="glyphicon"></span>
  </div>
</div>

<h2>Coach Ratings</h2>
(These is what the coach sees)
<div class="row">
  <div class="col-xs-4">
    <label>Effort</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.coachRating.learnerEffort" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Skill</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.coachRating.learnerSkill" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Speaking</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.coachRating.learnerSpeaking" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Listening</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.coachRating.learnerListening" size="2em"></rating>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <label>Quality</label>
  </div>
  <div class="col-xs-8">
    <rating value="model.session.coachRating.technicalQuality" size="2em"></rating>
  </div>
</div>
