<div ng-if="error" class="alert alert-danger">
  {{error}}
</div>

<ul ng-if="user.currentRole==='LEARNER'" class="list-group">
  <li class="list-group-item active">
    Rate your learning session
    <a ng-click="model.done()" class="pull-right" style="color:white">Skip</a>
  </li>
  <li class="list-group-item">
    <label>Coach</label>
    <rating class="pull-right" value="model.session.learnerRating.coachRating" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Module</label>
    <rating class="pull-right" value="model.session.learnerRating.moduleRating" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Quality</label>
    <rating class="pull-right" value="model.session.learnerRating.technicalQuality" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Favorite Coach</label>
    <span ng-init="favorite=false"
          ng-click="favorite = !favorite"
          style="font-size: 2em"
          ng-class="{'glyphicon-heart-empty': !favorite, 'glyphicon-heart': favorite}"
          class="glyphicon pull-right"></span>
  </li>
</ul>

<ul ng-if="user.currentRole==='COACH'" class="list-group">
  <li class="list-group-item active">
    Rate the students
    <a ng-click="model.done()" class="pull-right" style="color:white">Skip</a>
  </li>
  <li class="list-group-item">
    <label>Effort</label>
    <rating class="pull-right" value="model.session.coachRating.learnerEffort" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Skill</label>
    <rating class="pull-right" value="model.session.coachRating.learnerSkill" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Speaking</label>
    <rating class="pull-right" value="model.session.coachRating.learnerSpeaking" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Listening</label>
    <rating class="pull-right" value="model.session.coachRating.learnerListening" size="2em"></rating>
  </li>
  <li class="list-group-item">
    <label>Quality</label>
    <rating class="pull-right" value="model.session.coachRating.technicalQuality" size="2em"></rating>
  </li>
</ul>

<button ng-click="model.done()" class="btn btn-primary btn-block">
  Done
</button>