<label for="name">Language Name</label>
<input ng-model="model.language.name"
       id="name"
       class="form-control"
       placeholder="Italian"/>

<label for="country">Country</label>
<select ng-model="model.language.country"
        id="country"
        class="form-control"
        placeholder="Italy">
    <option>Italy</option>
    <option>USA</option>
    <option>Spain</option>
    <option>Portugal</option>
</select>

<label for="region">Region</label>
<select ng-model="model.language.region"
        id="region"
        class="form-control"
        placeholder="Campania">
    <option>Region 1</option>
    <option>Region 2</option>
    <option>Region 3</option>
    <option>Region 4</option>
</select>

<label for="dialect">Dialect</label>
<select ng-model="model.language.dialect"
        id="dialect"
        class="form-control"
        placeholder="Neapolitan">
    <option>Dialect 1</option>
    <option>Dialect 2</option>
    <option>Dialect 3</option>
    <option>Dialect 4</option>
</select>

<a ng-click="model.updateLanguage(model.language._id, model.language)" class="btn btn-primary btn-block">
    Update
</a>
<a ng-click="model.deleteLanguage(model.language._id)" class="btn btn-danger  btn-block">
    Delete
</a>
