<ul class="list-group">
    <li class="list-group-item">
        <a href="#/admin/user">
            Users
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/module">
            Modules
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/language">
            Languages
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/country">
            Countries
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/dictionary">
            Dictionaries
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/phrase">
            Phrases
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/admin/dictionary/master">
            Master Dictionary
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
    </li>
</ul>