<div style="position: relative;">
    <div id="remote-media" style="margin-bottom: 5px;"></div>
    <div id="preview" style="width: 25%;position: absolute;bottom: 3px;right: 2px;border: 1px solid white;">
        <div id="local-media" style="width:100%"></div>
    </div>
</div>
<div id="controls">
    <!--<div id="preview">-->
        <!--<div id="local-media" style="width:100%"></div>-->
        <!--<button id="button-preview" class="btn btn-block btn-primary">Preview My Camera</button>-->
    <!--</div>-->
    <div class="glyphicon glyphicon-user spk-avatar"></div>
    <button id="button-preview"
            class="btn btn-block btn-primary"
            style="display: none;">Preview My Camera</button>
    <div id="room-controls">
        <!--<p class="instructions">Room Name:</p>-->
        <input ng-model="model.user.username"
               style="display: none"
               id="room-name"
               class="form-control"
               type="text"
               placeholder="Enter a room name" />
        <div class="row">
            <div class="col-xs-6 text-center">
                <a id="button-leave"
                   ng-click="model.done()"
                   class="btn btn-danger btn-block">
                    <i class="fa fa-times fa-5x"></i>
                </a>
            </div>
            <div class="col-xs-6 text-center">
                <a id="button-join"
                   ng-click="model.join()"
                   class="btn btn-success btn-block">
                    <i class="fa fa-video-camera fa-5x"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="log" style="display: none;"></div>
</div>
<script>
    $("#input-2").rating();
    $("#input-2").rating({min:1, max:10, step:1, size:'lg'});
</script>

<label>Star Rating</label>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <input id="input-2" name="input-2" value="3.5" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" data-readonly="true">
    </div>
</div>
