<div id="remote-media"></div>
<div id="controls">
    <div id="preview">
        <!--<p class="instructions">Hello Beautiful</p>-->
        <div id="local-media" style="width:100%"></div>
        <button id="button-preview" class="btn btn-block btn-primary">Preview My Camera</button>
    </div>
    <div id="room-controls">
        <!--<p class="instructions">Room Name:</p>-->
        <input ng-model="model.user.username"
               id="room-name"
               class="form-control"
               type="text"
               placeholder="Enter a room name" />
        <div class="row">
            <div class="col-xs-6 text-center">
                <a id="button-leave" class="btn btn-danger">
                    <i class="fa fa-times fa-5x"></i>
                </a>
            </div>
            <div class="col-xs-6 text-center">
                <a id="button-join" class="btn btn-success">
                    <i class="fa fa-video-camera fa-5x"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="log"></div>
</div>
