
<div ng-show="user.currentRole=='COACH'">
    <ul class="list-group" ng-init="showVocabulary = true; showTopics = true; showGrammar = true">
        <li class="list-group-item active">
            Module Name: {{model.module.name}}
        </li>
    </ul>

    <ul class="list-group"
        ng-if="model.moduleId!='new'">
        <li class="list-group-item active" ng-click="showVocabulary = !showVocabulary">
            Vocabulary
            <a class="pull-right">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-close': showVocabulary, 'glyphicon-eye-open': !showVocabulary}"></span>
            </a>
        </li>
        <li ng-show="showVocabulary"
            ng-repeat="vocab in model.module.vocabulary track by $index"
            class="list-group-item">
            {{vocab}}
        </li>
    </ul>

    <ul class="list-group"
        ng-if="model.moduleId!='new'">
        <li class="list-group-item active"
            ng-click="showTopics = !showTopics">
            Topics
            <a class="pull-right spk-nudge-left-10px">
                <span class="glyphicon" ng-class="{'glyphicon-eye-close': showTopics, 'glyphicon-eye-open': !showTopics}"></span>
            </a>
        </li>
        <li ng-show="showTopics"
            ng-repeat="topic in model.module.topics track by $index"
            class="list-group-item">
            <span ng-bind-html="model.getSecureHtml(topic)"></span>
        </li>
    </ul>

    <ul class="list-group"
        ng-if="model.moduleId != 'new'">
        <li class="list-group-item active"
            ng-click="showGrammar = !showGrammar">
            Grammar
            <a class="pull-right spk-nudge-left-10px">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-close': showGrammar, 'glyphicon-eye-open': !showGrammar}">
                </span>
            </a>
        </li>
        <li ng-show="showGrammar" ng-repeat="grammar in model.module.grammar track by $index"
            class="list-group-item">
            <span ng-bind-html="model.getSecureHtml(grammar)"></span>
        </li>
    </ul>
</div>

<div style="position: relative;">
    <div id="remote-media" style="margin-bottom: 5px;" ng-class="{'spk-remote-media-coach': user.currentRole == 'COACH'}"></div>
    <div ng-show="user.currentRole=='LEARNER'"
         id="preview">
        <div id="local-media" style="width:100%"></div>
    </div>
</div>
<div id="controls">
    <!--<div id="preview">-->
    <!--<div id="local-media" style="width:100%"></div>-->
    <!--<button id="button-preview" class="btn btn-block btn-primary">Preview My Camera</button>-->
    <!--</div>-->
    <div ng-hide="model.session.started"
         class="glyphicon glyphicon-user spk-avatar"></div>
    <button id="button-preview"
            class="btn btn-block btn-primary"
            style="display: none;">Preview My Camera</button>
    <div id="room-controls">
        <!--<p class="instructions">Room Name:</p>-->
        <input ng-model="model.user.username"
               style="display: none"
               id="room-name"
               class="form-control"
               type="text"
               placeholder="Enter a room name" />
        <div class="row">
            <div class="col-xs-6 text-center">
                <a id="button-leave"
                   ng-click="model.done()"
                   class="btn btn-danger btn-block">
                    <i class="fa fa-times fa-5x"></i>
                </a>
            </div>
            <div class="col-xs-6 text-center">
                <a id="button-join"
                   ng-click="model.join()"
                   class="btn btn-success btn-block">
                    <i class="fa fa-video-camera fa-5x"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="log" style="display: none;"></div>
</div>

<label>Star Rating</label>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div ng-rate-it ng-model="model.user.stars"></div>
    </div>
</div>
