<div class="panel panel-primary">
    <div class="panel-heading">
        Teaching Languages
        <input type="checkbox" class="pull-right">
    </div>

    <ul class="list-group">
        <li ng-repeat="language in model.languages" class="list-group-item">
            <a href="#/language/{{language._id}}">
                {{language.name}}
            </a>
            <input type="checkbox"
                   class="pull-right"
                   ng-click="model.toggleLanguageSelection(language)"
                   ng-model="model.user.languages.teaching[language.name]"
                   ng-checked="model.user.languages.teaching.indexOf('{{language.name}}') != -1"/>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item" style="text-transform: capitalize">
            <a>
                <span ng-repeat="language in model.user.languages.teaching">{{language}}, </span>
            </a>
        </li>
    </ul>
</div>
<a href="#/admin/user/{{model.userId}}" ng-click="model.selectLanguages(model.user._id, model.user)"
   class="btn btn-primary btn-block">
    Save
</a>
