<h2>Module Name</h2>

<input ng-model="model.module.name"
       class="form-control"/>

<h2>Vocabulary</h2>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Word/Phrase">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
</div>

<ul class="list-group">
    <li ng-repeat="vocabulary in model.module.vocabulary"
        class="list-group-item">
        {{vocabulary}}
        <a class="pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </li>
</ul>

<h2>Topics</h2>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Topic Name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
</div>

<ul class="list-group">
    <li ng-repeat="topic in model.module.topics"
        class="list-group-item">
        {{topic}}
        <a class="pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </li>
</ul>

<a href="#/module" class="btn btn-success btn-block">
    Save
</a>
<a href="#/module" class="btn btn-danger btn-block">
    Cancel
</a>
