<ul class="list-group">
    <li class="list-group-item active">
        Module Name
    </li>
    <li class="list-group-item">
        <input ng-model="model.module.name"
               id="name"
               class="form-control"/>
    </li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">
        Vocabulary
    </li>
    <li class="list-group-item">
        <input type="text" class="form-control" placeholder="Word/Phrase" ng-model="model.vocabulary">
        <span class="glyphicon glyphicon-plus spk-input-field-icon"
              ng-click="model.addVocabulary(model.vocabulary)"></span>
    </li>
    <li ng-repeat="vocab in model.module.vocabulary track by $index"
        class="list-group-item">
        {{vocab}}
        <a class="pull-right spk-nudge-left-10px" ng-click="model.removeVocabulary(model.vocabulary)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">
        Topics
    </li>
    <li class="list-group-item">
        <input type="text" class="form-control" placeholder="Topic Name" ng-model="model.topic">
        <span class="glyphicon glyphicon-plus spk-input-field-icon"
              ng-click="model.addTopic(model.topic)"></span>
    </li>
    <li ng-repeat="topic in model.module.topics track by $index"
        class="list-group-item">
        {{topic}}
        <a class="pull-right spk-nudge-left-10px" ng-click="model.removeTopic(model.topic)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </li>
</ul>

<a ng-click="model.createModule()"
   ng-if="model.moduleId=='new'"
   class="btn btn-success btn-block">
    Create
</a>

<span ng-if="model.moduleId!='new'">
    <a ng-click="model.updateModule()"
       class="btn btn-success btn-block">
        Save
    </a>
    <a ng-click="model.deleteModule()"
       class="btn btn-danger btn-block">
        Delete
    </a>
</span>

<a href="#/module" class="btn btn-danger btn-block">
    Cancel
</a>
